<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
	<title>three.js webgl - interactive cubes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	
</head>
<body class = "btncolor">
    <%- include partials/header %>
    <div class = "container">
		<h1 style = "text-align: center; margin-top: 80px; margin-bottom: 40px;">
			Вітаю на сайті StudyNode!
		</h1>
		<h2 style = "text-align: center; margin-bottom: 30px;">
		Даний сайт реалізує навчання у вигляди трьохвимірних графів, кожна нода яких слугує завданням курсу.
		</h2>
		<h2 style = "text-align: center; margin-bottom: 30px;">
		Вчитель може створювати начальні курсі, учні можуть надсилати відповіді на завдання курсів.
		</h2>
		<h2 style = "text-align: center; margin-bottom: 30px;">
		Після того, як учитель (який створив курс) перевірить відповідь учня, останній зможе виконувати наступні завдання.
		</h2>
		<h2 style = "text-align: center; margin-bottom: 30px;">
		Для отримання повідомлень про зарахування завдання учень може підключити Telegram бота <a href = "https://web.telegram.org/#/im?p=@StudyNodeBot">StudyNodeBot</a>.
		</h2>
		<h2 style = "text-align: center; margin-bottom: 30px;">
		На сайті присутній перегляд даних за допомогою api <a href = "/developer/v1/developer">Докладний опис API</a>.
		</h2>
    </div>
</body>
</html>